* {
  font-family: arial;
  background-color: aliceblue;
}
img.media-img{
  width: 800px;
  height: 500px;
  object-fit: cover;
}
video {
  width: 250px;
  height: 200px;
  object-fit: contain;
}

/* Title area and date */
.title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title-area > h1 {
  color: rgb(219, 21, 21);
}
#title-minutes {
  color: #b03c62;
}
#title-date {
  color: hsl(0, 100%, 25.1%);
  text-decoration: wavy underline lime;
}

/* navigation area */
nav {
  font-family: 'Courier New', Courier, monospace;
}
nav > ul {
  display: flex;
  list-style: none;
}
nav > ul > li {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
}


/* Attendance section */
#attendance {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: red;
  margin: 10px 5px 10px 5px;
}
#attendance-names {
  font-family: 'Poppins';
}
#attendance-names > p:hover {
  color: red;
}

a[href='#form'] {
  color: red;
}


/* agenda section */
#agenda h3 {
  color: red;
}
#agenda h3:active {
  color: green;
}
#agenda h3{ 
  text-align: center;
}

h3, p {
  font-size: 1.1rem;
  margin: auto;
  padding: 5px 5px 5px 5px;
}

#relative-a {
  font-size: 1.3em;
}
#relative-b {
  font-size: 1.2em;
}
#relative-c {
  font-size: 1.1em;
}

#previous {
  position: relative;
}

#previous > h3 {
  position: absolute;
  right: 50px;
}

#prev-a {
  display: none;
}
#prev-b {
  display: inline-block;
}

.grid-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

:root {
  --color: #a72e2e;
}

#questions {
  background-color: var(--color, red);
}

@media (max-width: 600px) {
  nav, p, h3, h4, li, ol, label {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  nav, p, h3, h4, li, ol, label {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  nav, p, h3, h4, li, ol, label {
    font-size: 26px;
  }
}